@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
      font-family: 'Inter', sans-serif;
    }
  }


  .carousel-root{
    margin: 0;
    position: relative;
  }

  .carousel-root .carousel.carousel-slider{
    margin: 0;
    padding: 0;
    overflow: visible;
    position: relative;
  }

  .thumbs-wrapper {
    display: none !important;
}

.control-dots {
  position: absolute;
  bottom: -3rem !important;
}